html, body {
  height: auto;
  overflow-x: hidden;
}

body {
  background: url('../Images/lightbackground.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100vh;     
  overflow-y: scroll; 
  overflow-x: visible;  
  overscroll-behavior: contain;


    height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  clip-path: inset(0); /* important */
}


.scroll-stack-inner {
  padding: 20vh 5rem 50rem;
  min-height: 100vh;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: 20rem;
  width: 100%;
  margin: 30px 0;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
  /* Improve mobile performance */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  .scroll-stack-card {
  margin: 0;               /* no spacing between cards */
  background: #323232;     /* dark background */
  /* color: white; */
  border-radius: 40px;
  box-shadow: none;        /* optional: remove shadow for clean stacking */
  position: relative;
  z-index: 10; 



   background: #323232;
  color: white;
  border-radius: 40px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: var(--stack-index);
}
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}

.scroll-stack-scroller {
  background: transparent !important;
}

.scroll-stack-inner {
  background: transparent !important;
}