.body{
  /* background-image: url("../Images/lightbackground.svg"); */
    /* width: 100%;
    position: relative;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}