

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 40px;
  /* position: absolute; */
  width: 100%;
  top: 0;
  z-index: 10;
  gap: 55%;
  position: fixed;

}

.logo {
  font-size: 40px;
  font-family: "Great Vibes", cursive;
  width: 4%;
}

.nav-linkss {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 18px;
  cursor: pointer;
  color: #000000;

}
.linkkks{
  text-decoration: none;
  color: #222222;
  cursor: pointer;
}